html, body {
  margin: 10;
  padding: 10;
  background-color: #66aa66;
  font-family: 'Andale Mono';
  font-size: 20pt;
  color: black;
}

.writeup {
    font-family: Optima,sans-serif;
    font-size: 12pt;
    line-height: 115%;
}

table,td,th {
    line-height: 10pt;
}

canvas {
  display: block;
}
